@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap'); */

.row {
  @apply flex flex-wrap py-5 px-3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}
body{
    direction: rtl;
}
/* dark & light */
.appDark .salah{
  background-color: #181C14;
  color: white;
}
.appDark .awgat{
  background-color: #3C3D37;
  color: white;
}
.gulzar-regular {
  font-family: "Gulzar", serif;
  font-weight: 400;
  font-style: normal;
}
.amiri-regular {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
}
.melad{
  direction: ltr;
}
.tess:hover img{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: .5s ;
  -webkit-transition: .5s ;
  -moz-transition: .5s ;
  -ms-transition: .5s ;
  -o-transition: .5s ;
}

.test{
  background-image:linear-gradient(to right , rgba(0, 0, 0, 0.483) ,rgba(0, 0, 0, 0.483)), url(assets/1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.box:hover{
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  gap: 10px;
  padding: 0px 15px;
  background-color: transparent;
  border:2px solid white !important;
  border-radius: 10px;
  color: white;
  border: none;
  position: relative;
  
  cursor: pointer;
  transition-duration: .2s;
  
}

.bell {
  width: 13px;
}

.bell path {
  fill: rgb(0, 206, 62);
}

.arrow {
  position: absolute;
  /* right: 0; */
  left: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: white;
  color : black;
  transition-duration: .2s;
}

.button:hover .arrow {
  animation: slide-right .6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button:active {
  transform: translate(1px , 1px);
  transition-duration: .2s;
}
/* loading */
/* From Uiverse.io by JesusRafaelNavaCruz */ 
.loader {
  width: 4rem;
  height: 4rem;
  position: relative;
  right: 50%;
  
  border-radius: 50%;
  box-sizing: border-box;
  border-top: 8px solid #000000;
  border-left: 8px solid #000000;
  border-right: 8px solid #ff00;
  animation: loader .7s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}